<footer>
    <div class="sec1 p-5">
        <div class="container text-white text-center w-75 p-5">
            <div class="row row-cols-md-2 row-cols-lg-3">
                <div>
                    <h3 class="fw-bold ">LOCATION</h3>
                    <p class="px-2">2215 John Daniel Drive Clark, MO 65243</p>
                </div>
                <div>
                    <h3 class="fw-bold ">AROUND THE WEB</h3>
                    <div>
                        <ul class="list-unstyled d-flex justify-content-center hstack gap-3 fs-5">
                            <li><a href=""><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-dribbble" style="color: #ffffff;"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h3 class="fw-bold ">ABOUT FREELANCER</h3>
                    <p class="px-2">
                        Freelance is a free to use, MIT licensed Bootstrap theme created by Route
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sec2 p-4 text-center text-white">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>