<section class="contact p-5" id="contact">
    <div class="container w-50 vstack gap-3 py-5">
        <h2 class="fw-bold h1 text-center">CONTACT ME</h2>
        <app-dark-star></app-dark-star>
        <div class="form d-flex flex-column">
            <input type="text" placeholder="Name" class="in">
            <input type="email" placeholder="Email Address" class="in">
            <input type="text" placeholder="Phone Number" class="in">
            <textarea name="" id="" cols="30" rows="5" class="in" placeholder="Message"></textarea>
        </div>
        <button class="w-25 btn p-3 text-white">Send</button>
    </div>
</section>